<div class="card">
    <h3>Listado de Clientes</h3>
    <div  class="botonactualizar" >
    <td ><button  
      type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalcatalogo"  (click)="limpiar()"   id="botonmodal">Registrar Clientes</button></td>
    </div>
          
    <div class="card-body">
  
      
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Cedula</th>
                <th>Nombre</th>
                <th>Direccion</th>
                <th>Telefono</th>
              
              </tr>
            </thead>
            <tbody>
  
              <tr *ngFor='let cliente of cliente | paginate:{itemsPerPage: 10, currentPage: page}' >
              
                <td > {{cliente.cedula}}</td>
                <td > {{cliente.nombre}}</td>
                <td > {{cliente.direccion}}</td>
                <td > {{cliente.telefono}}</td>
                  
              
                <td ><button
                    
                    type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modaleditar" id="botonmodal" (click)="obtenercliente(cliente.cedula)">modificar</button>
                   <button
                    
                   class="btn btn-outline-danger" (click)="eliminar2(cliente.cedula )">eliminar</button>
                </td>
              
              </tr>
            
            </tbody>
  
          </table>
          <pagination-controls (pageChange)="page = $event"></pagination-controls>
         
        
    
      
    </div>
  </div>
  <!-- ++++++++++++Modal para editar los registros +++++++++++++ -->
<div class="modal fade" id="modaleditar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Registar editar cliente </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"  (click)="resfrecra()"></button>
        </div>
        <div class="modal-body">
          <form >
              <div class="form-floating mb-3">
                  <input type="number" class="form-control" id="cliente" placeholder="cliente" maxlength="50"  [(ngModel)]= "cedula" [ngModelOptions]="{standalone: true}"
                   >
                  <label for="cliente">Cedula</label>
              </div>
              <div class="form-floating mb-3"> 
                <input type="text" class="form-control" id="cliente" placeholder="cliente" maxlength="50"  [(ngModel)]= "nombre" [ngModelOptions]="{standalone: true}">
                <label for="cliente">Nombre</label>
            </div>
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="cliente" placeholder="cliente" maxlength="50"  [(ngModel)]= "direccion" [ngModelOptions]="{standalone: true}" >
              <label for="cliente">Direccion</label>
          </div>
          <div class="form-floating mb-3">
            <input type="number" class="form-control" id="cliente" placeholder="cliente" maxlength="50"  [(ngModel)]= "telefono" [ngModelOptions]="{standalone: true}">
            <label for="cliente">telefono</label>
        </div> 
              
          </form>
          
        </div>
        <div class="modal-footer">
          <button type="reset" class="btn btn-outline-danger" data-bs-dismiss="modal" (click)="resfrecra()" >Cancelar</button>
          <button type="submit" class="btn btn-outline-primary" (click)="modificar()" >Guardar cambios</button>
        </div>
      </div>
    </div>
  </div>

    <!-- ++++++++++++++++++Modal para crea un nuevo registro +++++++++++++ -->
<div class="modal fade" id="modalcatalogo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Registar nuevo cliente </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form >
            <div class="form-floating mb-3">
                <input type="number" class="form-control" id="cliente" placeholder="cliente" maxlength="50"  [(ngModel)]= "cedula" [ngModelOptions]="{standalone: true}"
                 >
                <label for="cliente">Cedula</label>
            </div>
            <div class="form-floating mb-3"> 
              <input type="text" class="form-control" id="cliente" placeholder="cliente" maxlength="50"  [(ngModel)]= "nombre" [ngModelOptions]="{standalone: true}">
              <label for="cliente">Nombre</label>
          </div>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="cliente" placeholder="cliente" maxlength="50"  [(ngModel)]= "direccion" [ngModelOptions]="{standalone: true}" >
            <label for="cliente">Direccion</label>
        </div>
        <div class="form-floating mb-3">
          <input type="number" max="99"  class="form-control" id="cliente" placeholder="cliente" maxlength="50"  [(ngModel)]= "telefono" [ngModelOptions]="{standalone: true}">
          <label for="cliente">telefono</label>
      </div> 
            
        </form>
        
      </div>
      <div class="modal-footer">
        <button type="reset" class="btn btn-outline-danger" data-bs-dismiss="modal" >Cancelar</button>
        <button type="submit" class="btn btn-outline-primary" (click)="GurdarlosUsuario()" >Guardar cambios</button>
      </div>
    </div>
  </div>
</div>
  
