.btn {
    width: 150px;
    border-radius: 12px
}

.botoneliminar {
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 200px;
    color: #ffffff;
    background-color: transparent;
    border-radius: 0px;
    border: 2px solid #EDD8D8;
}

.botonactualizar {
    padding-top: 5px;
     padding-bottom: 0px;
     padding-right: 5px;
     padding-left: 5px;
     background-color: white;
     border-color: #737373;
     border-style: solid;
     display: flex;
     justify-content: center;
     align-items: center;
}
#botonregistrar {
    width: auto;
}
.card h3{
    margin-top:1%;
     text-align: center;
     font-family: verdana;
   
}

.h5{
    margin-top:1%;
     text-align: center;
     font-family: verdana;
   
}
 
 
 .table{
    text-align: center;
    margin-top:2%;
   box-shadow: 5px 5px 15px rgba ( 0 , 0 , 0 , 0.5 ) ;
    box-shadow: 5px 5px 15px rgba(243, 4, 4, 0.9);

}





.paginacion{
 text-align: center;
  margin-top:5%;
}